<footer class="text-white pt-5 pb-3 px-4" style="background-color: rgba(138, 21, 56, 1);"> 
  <div class="container">
    <div class="row gy-4 ">
      <div class="col-md-3">
        <h5 class="mb-3">
          <img src="assests/images/hero/logo.png" alt="">
          Educare
        </h5>
      </div>

      <div class="col-md-2">
        <h6 class="mb-3">Navigation</h6>
        <ul class="list-unstyled d-flex flex-column gap-3">
          <li><a href="#" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">About</a></li>
          <li><a href="#" class="text-white text-decoration-none">Curriculum</a></li>
          <li><a href="#" class="text-white text-decoration-none">Career</a></li>
          <li><a href="#" class="text-white text-decoration-none">Blogs</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact us</a></li>
        </ul>
      </div>

      <div class="col-md-3 d-flex flex-column gap-1">
        <h6 class="mb-3">Contact info</h6>
        <p><a href="mailto:educare@gmail.com" class="text-white text-decoration">educare@gmail.com</a></p>
        <p><a href="mailto:info@educare.com" class="text-white text-decoration">info@educare.com</a></p>
        <p><a href="tel:+97444123456" class="text-white text-decoration">+974 4412 3456</a></p>
        <p><a href="tel:+97455347990" class="text-white text-decoration">+974 5534 7990</a></p>
        <div class="mt-2">
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="col-md-1 text-md-end">
        <div class="mt-3">
          <img src="assests/images/blogs/map-logo.png" alt="" class="position-absolute" style="margin-left: 80px; margin-top: 100px;">
          <img src="assests/images/footer-map.png" alt="Map" style="max-height: 200px;">
        </div>
      </div>

      <div class="col-md-2 ms-5 text-md-start">
        <h6 class="mb-3">Office Address</h6>
        <p>EducareEducation Center<br>Building 45, Al Sadd Street,<br>Doha, Qatar</p>
        <a href="#" class="text-white text-decoration-underline">View on Map</a>
      </div>
    </div>

    <hr class="border-light mt-5" />

    <div class="d-md-flex justify-content-between text-white small pt-2">
      <p class="mb-2 mb-md-0">© 2024 <a href="#" class="text-white text-decoration-underline">educare</a></p>
      <p class="mb-2 mb-md-0">Designed by Novinindia Technologies</p>
      <p class="mb-0">
        <a href="#" class="text-white me-3 text-decoration-underline">Terms & Conditions</a>
        <a href="#" class="text-white text-decoration-underline">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
