<div  class="latest-blog">
    <div class="d-flex justify-content-between">
        <h2>Our Latest <b>Blog Post</b></h2>
        <div class="button-wrapper d-none d-md-block">
              <div class="button-background"></div>
              <button class="button-foreground">
                View All <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
    </div>
    <div class="d-flex flex-md-nowrap flex-wrap mt-5 gap-5">
        <div>
            <img src="assests/images/blogs/mother-helps-her-daughter-with-homework-cozy-table-warmly-lit-room-evening 1.png" alt="" width="300">
            <h6 class="fw-semibold my-3">Top tips for effective home tutoring</h6>
            <p>Share practical advice on how students can make the most out of tutoring sessions.</p>
        </div>
        <div>
            <img src="assests/images/blogs/woman-working-laptop-home-office 1.png" alt="" width="300">
            <h6 class="fw-semibold my-3">Building a productive study environment</h6>
            <p>Share practical advice on how students can make the most out of tutoring sessions. </p>
        </div>
        <div>
            <img src="assests/images/blogs/business-models-person 1.png" alt="" width="300">
            <h6 class="fw-semibold my-3">5 Skills every great tutor should have</h6>
            <p>Outline essential skills for tutors, such as patience, adaptability, subject knowledge.</p>
        </div>
        <div>
            <img src="assests/images/blogs/woman-working-laptop-home-office 1-1.png" alt="" width="300">
            <h6 class="fw-semibold my-3">Getting the best individual tuition </h6>
            <p>Share practical advice on how students can make the most out of tutoring sessions.</p>
        </div>
    </div>
</div>