
  <main class="position-relative story-educare">
    <div class="story-educare-div">
      <div class="d-flex justify-content-between">
        <div
          style="max-width: 800px; color: rgba(101, 89, 69, 1)"
          class="d-flex flex-column gap-3"
        >
          <h2>The Story of Educare</h2>
          <p>
            At Educare education center, we believe that every student deserves
            personalized, focused attention to reach their fullest potential.
            Our mission is to empower students through one-on-one tutoring,
            creating customized learning plans tailored to each individual's
            unique needs, strengths, and learning styles.
          </p>
          <p>
            Founded on a passion for education and a commitment to excellence,
            Educare education center was established to offer students a
            supportive and engaging learning environment. Our team of
            experienced tutors is dedicated to helping students excel
            academically while also building confidence, independence, and a
            love for learning.
          </p>
          <p>
            We specialize in a wide range of subjects across all grade levels,
            including math, science, English, and test preparation. Whether your
            child needs help catching up, getting ahead, or preparing for a
            specific exam, we are here to support their journey.
          </p>
          <div>
            <div class="button-wrapper d-none d-md-grid" style="width: fit-content;">
              <div class="button-background"></div>
              <button class="button-foreground">
                Read more <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="d-none d-md-block">
          <img
            src="assests/images/main/story.png"
            style="width: 500px"
            alt=""
          />
        </div>
      </div>

      <div class="d-flex flex-column flex-md-row gap-5">
        <div
          class="d-flex p-3 rounded-4 story-edu-card"
            style="
            background-color: rgba(255, 243, 225, 1);
            box-shadow: rgba(135, 7, 7, 0.858) 2.95px 1.95px 1.6px;
          "
        >
          <div>
            <h6>Mission</h6>
            <p style="max-width: 340px">
              To help students succeed with personalized,
              <b>one-to-one</b>tutoring that builds confidence, skills, and a
              love for learning.
            </p>
          </div>
          <div>
            <img
              src="assests/images/main/mission.png"
              class="position-absolute vision-img"
              alt=""
            />
          </div>
        </div>
        <div
          class="d-flex p-4 rounded-4 story-edu-card"
          style="
            background-color: rgba(255, 243, 225, 1);
            box-shadow: rgba(135, 7, 7, 0.858) 2.95px 1.95px 1.6px;
          "
        >
          <div>
            <h6>Vision</h6>
            <p style="max-width: 340px">
              To be a trusted center where students reach their potential, build
              confidence, and prepare for a <b> bright future. </b>
            </p>
          </div>
          <div>
            <img
              src="assests/images/main/vision.png"
              class="position-absolute vision-img"
              alt=""
            />
          </div>
        </div>
        <div class="d-none d-md-block">
          <img src="assests/images/main/curve.png" alt="" width="150" />
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row gap-2 mt-5 our-way-thinking"
    >
      <div>
        <h3 class="mb-4">Our way of Teaching</h3>
        <ul style="list-style-type: disc" class="d-flex flex-column gap-4">
          <li>
            Every teacher at Educare brings passion to their lessons, making
            learning enjoyable with engaging activities tailored to inspire and
            motivate each student.
          </li>
          <li>
            We focus on creating a supportive environment where individual
            strengths are recognized, and personalized attention helps students
            excel.
          </li>
          <li>
            Our approach combines innovative teaching methods with real-world
            applications, ensuring students not only learn but also understand
            and apply their knowledge effectively.
          </li>
        </ul>
      </div>
      <div>
        <img src="assests/images/main/our-way-teach.png" alt="" height="400" class="w-100 h-100"/>
      </div>
    </div>
  </main>
