<section>
  <div class="d-flex flex-column align-items-center">
    <h2 class="mb-5">
      Prepare Your Child for a World of Opportunities with Educare
    </h2>
    <img src="assests/images/main/world-members.png" alt="" width="70%" />
  </div>
  <div
    style="background-color: rgba(255, 243, 225, 1)"
    class="d-flex align-items-center justify-content-between px-2 mt-5 py-1 gap-2"
  >
    <h6 class="h6">
      Education is the foundation of greatness; let’s build it together
    </h6>
    <img src="assests/images/arabic.svg" alt="image" height="40" />
    <h6 class="h6">Learning today, leading tomorrow – the Educare way</h6>
    <img src="assests/images/arabic.svg" alt="image" height="40" />
    <h6 class="h6">
      Turning dreams into achievements through dedicated guidance
    </h6>
  </div>
  <div
    class="w-100 d-flex flex-column align-items-center justify-content-center"
  >
    <h2 class="mt-5 mb-3">Learn More About Our Space</h2>
    <div>
      <img
        src="assests/images/youtube-icon.png"
        alt="youtube"
        class="position-absolute youtube-icon"
        width="50"
      />
    </div>
    <img src="assests/images/learn-more.png" alt="" style="width: 80%" />
  </div>
  <div style="background-color: rgba(249, 247, 244, 1)" class="pb-5 mt-5">
    <div class="master-ielts">
      <div
        class="position-relative w-100 d-flex flex-wrap align-items-center justify-content-between px-3"
      >
        <div class="flex-grow-1 text-center">
          <h2 style="color: rgba(101, 89, 69, 1)" class="mt-5 mb-0">
            Master in <b> IELTS, TOEFL Exams </b>
          </h2>
        </div>

        <div class="button-wrapper ms-3 mt-5 d-none d-md-block">
          <div class="button-background"></div>
          <button class="button-foreground">
            View All <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- cards -->
    <div>
      <div class="d-flex flex-wrap justify-content-center mx-5">
        <div class="card-wrapper">
          <div class="card-background"></div>
          <div class="card-foreground">
            <img
              src="assests/images/Rectangle 18262-1.png"
              alt="IELTS Preparation"
            />
            <h5>IELTS Preparation</h5>
            <p>
              Focus on all four sections: Listening, Reading, Writing, and
              Speaking.
            </p>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card-background"></div>
          <div class="card-foreground">
            <img
              src="assests/images/Rectangle 18262.png"
              alt="IELTS Preparation"
            />
            <h5>IELTS Preparation</h5>
            <p>
              Focus on all four sections: Listening, Reading, Writing, and
              Speaking.
            </p>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card-background"></div>
          <div class="card-foreground">
            <img
              src="assests/images/Rectangle 18262-3.png"
              alt="IELTS Preparation"
            />
            <h5>IELTS Preparation</h5>
            <p>
              Focus on all four sections: Listening, Reading, Writing, and
              Speaking.
            </p>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card-background"></div>
          <div class="card-foreground">
            <img
              src="assests/images/Rectangle 18262-2.png"
              alt="IELTS Preparation"
            />
            <h5>IELTS Preparation</h5>
            <p>
              Focus on all four sections: Listening, Reading, Writing, and
              Speaking.
            </p>
          </div>
        </div>
      </div>
       <div class="dot-container">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
    </div>
  </div>
</section>
