<div>
  <div
    class="d-flex justify-content-center flex-column align-items-center "
    style="margin: 30px 100px"
  >
    <div class="position-relative w-100 d-flex flex-wrap align-items-center justify-content-between px-3">
  <div class="flex-grow-1 text-center">
    <h2 style="color: rgba(101, 89, 69, 1)" class="mt-5 mb-0">
      Programs we offer <b> for Kids </b>
    </h2>
  </div>
  
  <div class="button-wrapper ms-3 mt-5">
    <div class="button-background"></div>
    <button class="button-foreground">
      View All <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>

    <!-- box div -->
    <div class="d-flex flex-wrap justify-content-between gap-4" style="margin-top: 100px;">
      <div
        class="d-flex p-4 rounded-4"
        style="background-color: rgba(255, 243, 225, 1); width: 400px"
      >
        <div>
          <h6 class="fw-bold text-prime">English Grammar</h6>
          <p style="max-width: 250px; font-size: 14px" class="text-prime">
            Master the building blocks of writing and communication.
          </p>
        <div class="button-wrapper">
              <div class="button-background"></div>
              <button class="button-foreground">
              Read more <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
        </div>
        <div>
          <img
            src="assests/images/main/abc-kid.png"
            class="position-absolute"
            style="margin-top: -50px; margin-left: -20px"
            alt=""
            width="150"
            height="200"
          />
        </div>
      </div>
      <div
        class="d-flex p-4 rounded-4"
        style="background-color: rgba(255, 243, 225, 1); width: 400px"
      >
        <div>
          <h6 class="fw-bold text-prime">Craft Classes</h6>
          <p style="max-width: 250px; font-size: 14px" class="text-prime">
            Unleash creativity with hands-on projects and artistic fun.
          </p>
        <div class="button-wrapper">
              <div class="button-background"></div>
              <button class="button-foreground">
               Read more<i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
        </div>
        <div>
          <img
            src="assests/images/main/girl-with-bird.png"
            class="position-absolute"
            style="margin-top: -50px; margin-left: -30px"
            alt=""
            width="150"
            height="200"
          />
        </div>
      </div>
      <div
        class="d-flex p-4 rounded-4"
        style="background-color: rgba(255, 243, 225, 1); width: 400px"
      >
        <div>
          <h6 class="fw-bold text-prime">Art and Painting</h6>
          <p style="max-width: 280px; font-size: 14px" class="text-prime">
            Express yourself through colors, sketches, and designs
          </p>
        <div class="button-wrapper">
              <div class="button-background"></div>
              <button class="button-foreground" style="font-size: 14px;">
              Read more <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
        </div>
        <div>
          <img
            src="assests/images/main/boy-with-brush.png"
            class="position-absolute"
            style="margin-top: -50px; margin-left: -40px"
            alt=""
            width="150"
            height="200"
          />
        </div>
      </div>
    </div>
     <div class="dot-container mt-4">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
  </div>
  <!-- subject we teach -->
  <div style="background-color: rgba(249, 247, 244, 1);" class="my-5 pb-5">
  <div style="background-color: rgba(249, 247, 244, 1); margin: 0 100px;">
    <div class="position-relative w-100 d-flex flex-wrap align-items-center justify-content-between px-3 my-5">
  <div class="flex-grow-1 text-center">
    <h2 style="color: rgba(101, 89, 69, 1)" class="mt-5 mb-0">
      Subject we <b>Teach</b>
    </h2>
  </div>
  
  <div class="button-wrapper ms-3 mt-5">
    <div class="button-background"></div>
    <button class="button-foreground">
      View All <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
  <!-- </div> -->
  <div class="d-flex flex-wrap gap-3 align-items-center justify-content-center">
    <div style="background-color: rgba(255, 243, 225, 1);" class="p-2 text-center rounded-3">
      <img src="assests/images/main/maths.svg" alt="" width="180" height="100">
      <h6 class="mt-2">Maths</h6>
    </div>
    <div style="background-color: rgba(255, 243, 225, 1);" class="p-2 text-center rounded-3">
      <img src="assests/images/main/physics.svg" alt="" width="180" height="100">
      <h6 class="mt-2">Physics</h6>
    </div>
    <div style="background-color: rgba(255, 243, 225, 1);" class="p-2 text-center rounded-3">
      <img src="assests/images/main/chem.svg" alt="" width="180" height="100">
      <h6 class="mt-2">Chemistry</h6>
    </div>
    <div style="background-color: rgba(255, 243, 225, 1);" class="p-2 text-center rounded-3">
      <img src="assests/images/main/bio.svg" alt="" width="180" height="100">
      <h6 class="mt-2">Biology
    </div>
    <div style="background-color: rgba(255, 243, 225, 1);" class="p-2 text-center rounded-3">
      <img src="assests/images/main/cs.svg" alt="" width="180" height="100">
      <h6 class="mt-2">Computer Science</h6>
    </div>
    <div style="background-color: rgba(255, 243, 225, 1);" class="p-2 text-center rounded-3">
      <img src="assests/images/main/english.svg" alt="" width="180" height="100">
      <h6 class="mt-2">English</h6>
    </div>
  </div>
   <div class="dot-container mt-5">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
</div>
</div>
