<section class="d-flex flex-column align-items-center my-5 justify-content-center">
    <h2>Hear from our Valuable Parents</h2>
    <div class="d-flex flex-wrap justify-content-center gap-5">
        <div class="border rounded-4 p-4 mt-5" style="max-width: 400px;">
            <div class="d-flex justify-content-between position-absolute" style="width: 350px; margin-top: -50px;">
                <img src="assests/images/blogs/test1.png" alt=""  height="60">
                <img src="assests/images/blogs/colon.png" alt="" height="60">
            </div>
            <p class="mt-5">Best decision for English tutoring! Educare improved our daughter's skills and instilled confidence. Recent high scores speak volumes. Thank you, Educare!</p>
            <div class="d-flex justify-content-between align-items-center">
                <span>⭐⭐⭐⭐⭐</span>
                  <div class="text-end">
                    <h6 class="text-prime fw-bold">Sarah H</h6>
                    <p style="color: grey;">- Account</p>
                </div>
            </div>
        </div>
        <div class="border rounded-4 p-4 mt-5" style="max-width: 400px;">
            <div class="d-flex justify-content-between position-absolute" style="width: 350px; margin-top: -50px;">
                <img src="assests/images/blogs/test2.png" alt=""  height="60">
                <img src="assests/images/blogs/colon.png" alt="" height="60">
            </div>
            <p class="mt-5">Best decision for English tutoring! Educare improved our daughter's skills and instilled confidence. Recent high scores speak volumes. Thank you, Educare!</p>
            <div class="d-flex justify-content-between align-items-center">
                <span>⭐⭐⭐⭐⭐</span>
                <div class="text-end">
                    <h6 class="text-prime fw-bold">Ahmed k</h6>
                    <p style="color: grey;">- Engineer</p>
                </div>
            </div>
        </div>
        <div class="border rounded-4 p-4 mt-5" style="max-width: 400px;">
            <div class="d-flex justify-content-between position-absolute" style="width: 350px; margin-top: -50px;">
                <img src="assests/images/blogs/test1.png" alt=""  height="60">
                <img src="assests/images/blogs/colon.png" alt="" height="60">
            </div>
            <p class="mt-5">Best decision for English tutoring! Educare improved our daughter's skills and instilled confidence. Recent high scores speak volumes. Thank you, Educare!</p>
            <div class="d-flex justify-content-between align-items-center">
                <span>⭐⭐⭐⭐⭐</span>
                   <div class="text-end">
                    <h6 class="text-prime fw-bold">Sarah H</h6>
                    <p style="color: grey;">- Account</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-container mt-5">
     <span class="dot active"></span>
     <span class="dot"></span>
     <span class="dot"></span>
   </div>
</section>